@charset "UTF-8";

/* Reset & Common */
* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Noto Sans KR', sans-serif; color: #333; background-color: #f4f4f4; }
a { text-decoration: none; color: inherit; }
ul { list-style: none; }

/* Common Layout */
.container { width: 1100px; margin: 0 auto; }
